<!DOCTYPE html>
<html>
<head>
	<title>Ajax</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js" ></script>	
	<script src="js/main.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
<template id="postTemplate">
	<li>
		<h2>Post {{id}}:{{title}}</h2>
		<div id="writer">
		-written by userid:{{userId}}
		</div>
		<br>
		<p>{{body}}</p>
	</li>
</template>

<div id="article">
	<h1>Ajax</h1>
	<ul id="posts"></ul>	
</div>

</body>
</html>