{% extends "accounts/base.html" %}
{% load static%}
{% block contents%}
<form action="" method="post" id="post-form">
	{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
    
</form>

<div id="articles">
{% for post in post_list%}
	<p>Title:{{post.title}}</p>
	<p>Content:{{post.content}}</p>
	<p>Author:{{post.author}}</p>
	<p>written at:{{post.pub_date}}</p>
	<p>Likes:<span id="likecount{{ post.id }}">{{post.likecount}}</span></p>
	<input type="button" class="like" id="post{{ post.id }}"  value="{{post.do}}"/>
	<br>
	<br>
{% endfor%}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'posts/js/main.js' %}" type="text/javascript" charset="utf-8" async defer></script>
{%endblock%}





