.box1
{
padding-top: 10px;
}

.box1 .navbar-brand
{
font-family: 'Grand Hotel', cursive;
font-size: 50px;
color:#fff;
margin-left: 5px;
}

.first
{
padding-bottom: 20px;
padding-top: 20px;
margin-top: 60px;
background-color: #f1f1f1;
}

.second
{
padding-bottom: 20px ;
}

.article img
{
width:262px;
height:195px;
}

.footer
{
padding-top:10px ;
padding-bottom: 10px;
background-color: #000;
color:#fff; 
}

.link a ,.post a 
{
color:#fff;
text-decoration: none;
}

@media only screen and (min-width: 992px)
{
	.box1,.first,.second,.footer
	{
		padding-left: 150px;
		padding-right: 150px;
	}
} 
@media only screen and (max-width: 768px)
{
	.box1 li
	{
		padding-left: 10px;
	}
	.box1
	{
		padding-top: 5px;
		padding-bottom: 0px;
	}
	.first
	{
		margin-top: 50px;
	}
	
	.navbar-toggle
	{
	margin-right: 25px;
	}

}


