section
{
width:680px;
margin:auto;

}

.signal
{
background-color: 	#A9A9A9;
width:680px;
margin: 50px auto;
height:240px;
border-radius: 20%
}

.color
{
border-radius: 50%;
background-color: black;
height:200px;
width:200px;
margin:20px 0px 20px 20px;
float:left;
}

#green
{
color:#FFFFFF;
}