.slideshow-container
{
 
width: 841px;
position: relative;
background-color: #f7f7f7;
/*margin: auto;*/
display: block;
padding:0px 15px;
float: left;
/*z-index: -1;*/
}

.previous_shoes
{
position: absolute;
top: 0;
color: #a3a3a3;
padding: 8px 12px;
font-size: 12px;
}
.previous_shoes 
{
text-decoration: none;
}
.previous_shoes:hover
{
color:#000000;
}


.myslides
{
display: none;
}

.myslides img
{
width: 391.6px;
height:534px;
padding:0px 0px 0px 225px;
margin-bottom: -3px;
}

.prev , .next
{
position: absolute;
top: 50%;
font-size: 30px;
font-weight: bold;
padding: 16px;
margin-top: -22px;
color: #d5d5d5;
cursor: pointer;
}

.next
{
right: 0;
}

.prev:hover,.next:hover
{
color:#000000;
}

.dots
{
width: 13px;
height: 13px;
background: gray;
display: inline-block;
border-radius: 50%;
cursor: pointer;
}

.dotslist
{
/*display: inline-block;
float:right;*/
position:absolute;
bottom:0;
right:15px;
}


.fade
{
animation-name:fade;
animation-duration:1.5s;
}

@keyframes fade{

from {opacity: 0.4;}

to {opacity: 1;}

}

.active, .dot:hover 
{
background-color: #333;
}
