*
{
font-family: arial;
margin: 0px;
padding:0px;
}

.header
{
width:100%;
display: block;
}
.top
{
border-bottom: 1px #a4b6c1 solid;
}

#toplogo
{

margin: 12px 0px 8px 532px;
}
#goldlogo
{margin-bottom: -4px;
/*display: inline-block;*/
/*border-top: 4px black solid;
*//*vertical-align:text-bottom;*/
/*vertical-align:top;*/
}
.helpbar
{
float: right;
padding: 12.5px 0px 12.5px 12.5px;
}

.helpbar ul {
  list-style-type: none;
  font-size: 12px;
  
}

.helpbar ul li:nth-child(n+2) {
    padding: 3px 5px 0px 5px;
    border-right: 1px #a4b6c1 solid;
}


.helpbar li
{

float: left
}
.helpbar a
{

text-decoration: none;
color:#a4b6c1;
}

#signin
{
color:#a4b6c1;
}

#signin:hover
{
cursor: pointer;
}

.navbar
{
background-color: #ffffff;
margin-top: -7px;
float: left;
width:100%;
font-size: 12px;
display:block;
overflow: hidden;
z-index: 1;
/*box-shadow: 5px 10px 8px #888888;*/
}
.sticky {
  position: fixed;
  top: 0;
  /*width: 100%;*/
}

.stickycount
{
position: fixed;
top: 0px;
/*right:5px;*/
}

.navbar ul
{
list-style-type: none;
float:left;
/*padding:13px 0px;*/
}

.navbar li
{

float: left;
}

.navbar li:first-child
{
padding-left: 10px;
margin:13px;

}




.navbar ul li:nth-child(n+2) a{
margin: 0px 0px 0px 13px;
    padding:24px 0px 24px 0px;
    /*border-right: 1px #a4b6c1 solid;*/
    display: block;
text-decoration: none;
color:#000000;
}


.rightside
{
/*margin-left:200px;
margin-right: 20px;*/
padding-right: 20px;

float: right;
}

.searchbar
{
float:left;
background-color: #eeeeee;
/*position: absolute;*/

margin:11.5px 10px 11.5px 0px;

}

.rightside input
{
border-radius: 0px;
width: 250px;
padding:9px 0px 9px 9px;
background-color:  #eeeeee;
}

.rightside .searchbar img
{
margin-bottom: -13px;

}
.rightside .flyouts
{
/*position: absolute;*/
float:left;
border-left: 1px #eeeeee solid;
padding-bottom: 6px;
}
.rightside .wishlist,.cart
{
float:left;
}

.rightside .wishlist
{
margin: 12px 0px 12px 15px;
}

.wishlist:hover
{
cursor:pointer;
}

.rightside .cart
{

margin: 12px 10px 12px 15px;
}

.cart:hover
{
cursor:pointer;
}


.itemcount
{
position: relative;
right:20px;
top:8px;
border:2px black solid;
z-index: 1;
background-color: black;
color:#fff;

font-size: 18px;
width:20px;
height:20px;
padding: 5px;
border-radius: 50%; 
/*visibility: visible;*/
display:inline-block;
}




.product
{
margin-top:-4px;
display:table;
width:100%;
background-color: #f7f7f7;
border-bottom: 1px #dddddd solid;
}


.info
{

float:left;
width:395px;
height: 100%;
background-color: #f7f7f7;

/*margin-top: -4px;*/
padding: 20px 20px 203px 20px; 
}


.product-title
{
color: #6e6e6e;
font-size: 15px;

}
.standard-price
{
color:#6e6e6e;
margin-right: 5px;
}
.actual-price
{
margin-right: 5px;
}
.discount
{
color:#ff0000;
}
.vat-text
{
color:#ad9eb3;
font-size: 15px;
}

#size-block
{
margin-top: 10px;
padding:10px 0px;
border-top: 1px #dddddd solid;
}

#add-to-cart
{
    float:left;
   background-color: #f7931d;
    color: white;
    padding: 14px 20px;
/*    margin: 8px 0;*/
    border: none;
    cursor: pointer;
    width: 237px;

} 

#add-to-cart:hover
{
 opacity: 0.8;
}



#add-to-wishlist
{
float: left;
/*padding:0px;
display: block;*/
background-image: url(images/add-to-wishlist.png);
margin: 0px 5px 0px 5px;
/*position:relative;
left:250px;
top:0px;*/
width:45px;
height: 45px;
border:0px;

}

#add-to-wishlist:hover
{
cursor: pointer;
background-image: url(images/coloredheart.png);
}



.buttons-inline
{
display:table;
width:100%;
}

.additional-text
{
margin-top: 10px;
border-top:1px #dddddd solid;
padding: 10px 0px;
font-size: 15px;

}

.additional-text a
{
text-decoration: none;
color:blue;
}

.delivery-info
{
color:#6e6e6e;
font-size: 15px;
}
.delivery-info:hover
{
color:#000000;
cursor: pointer;
}

.policy
{
color:#6e6e6e;
font-size: 15px;
}
.policy:hover
{
color:#000000;
cursor: pointer;
}




.details
{
width:950px;
padding:20px 15px;
background-color: #ffffff;
text-align: center;
display: table;
color:#6e6e6e;
float:left;
}
.details h2
{
color: #000000;
}

.prod-disc
{
text-align: left;
width: 60%;
margin:20px auto 50px auto; 
}

.details ul
{
width: 60%;
margin:20px auto 50px auto; 
list-style: none;
text-align: left;
}
.details li
{
width:100%;

}

.details ul span
{
width:50%;
float:left;
margin-bottom: 10px;
}


.details .soldby
{
display: table;
width: 60%;
padding: 20px 0px;
margin: auto;
text-align: left;
}


.details .soldby a
{
text-decoration: none;
color: blue;
}

/********Tooltip css*****/
/*.ui-tooltip-content {
  height:300px;
    position: relative;
    padding: 0.5em;
         background-color:#000;
    color:#fff;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    left: 90px;
}
.bottom .ui-tooltip-content::before {
    bottom: -10px;
    border-color: #AAA transparent;
    border-width: 10px 10px 0;
}
.bottom .ui-tooltip-content::after {
    bottom: -7px;
    border-color: #000 transparent;
    border-width: 10px 10px 0;
}
.top .ui-tooltip-content::before {
    top: -10px;
    border-color: #AAA transparent;
    border-width: 0 10px 10px;
}
.top .ui-tooltip-content::after {
    top: -7px;
    border-color: #000 transparent;
    border-width: 0 10px 10px;
}*/


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    color:#ffffff;
    width:400px;
    font-size: 15px;
    min-width: 160px;
    right:20px;
    top:85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}



.dropdown-content h2 {
    text-align: center;
}

.emptycart {
    padding: 75px 20px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #000000;
    color:#ffffff;
    width:400px;
    font-size: 15px;
    min-width: 160px;
    right:20px;
    top:85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}

/*.spancart:hover .dropdown-content {display: block;}
*/


.ttpimg
{
float:left;
margin-left: 10px;
margin-right: 10px;
}
.ttpspecs
{
float: left;
margin-bottom: 20px;
}

#remove
{
width: 100px;
padding:10px 20px;
background-color: red;
color: #fff;
}


.similarpicks
{
background-color: #fff;
height:768px;
width:327px;
float:left;
display: table;

}

.similarpicks h1
{
text-align: center;
margin-bottom: 20px;
}

.similarpicks img
{

margin-left: 5px;
margin-bottom: 5px;
display: block;
float: left;
}