*
{
	font-family:arial; 
	padding: 0px;
	margin:0px;
}
body
{
	background-color: #000000;
}
section
{
	width:980px;
	margin:auto;
}
.header
{
	background-color: #333333;
}
.header img
{
	padding:10px;
}
.navbar
{
	background-color: #666666;
	/*height: 50px;*/

}

.navbar ul
{
	display: table;
	list-style: none;
}
.navbar li
{
	float: left;
	/*height:50px;*/
	border-right: 1px solid #333333;
	/*align-content: center;*/
	display: inline-block;
	width:80px;
}
.navbar a
{
	padding:16.5px 18.5px;
	/*margin:15px;*/
	display: block;
	text-decoration: none;
	color: #FFFFFF;

/*width:100%;
height:100%;*/
}

.navbar a:hover
{
	background-color: #FFA500; 

}








.contents
{
	overflow: hidden;
	position: relative;
	/*height:823px;*/
	width:100%;
/*padding-bottom: 10px;
background-color: red;*/
}

.left
{
	float:left;
	width:70%;
	background-color: #ffffff;
	padding-bottom: 100px;


}

.right
{
	position: absolute;
	height: 100%;
	float: left;
	width:30%;
	background-color: #e5e5e5;
	display: inline-block;

}
/* Clear floats after the columns */
.contents:after {
	content: "";
	display: table;
	clear: both;
}

.article
{
	margin:auto;
	font-size:12px;
	display: table;
	padding:40px 0px;
	border-bottom: 1px solid #dddddd;
/*border-bottom: 2px  solid red;
*/
}
.photo
{
	float:left;
	width:160px;
	height:160px;


	background-color: #dddddd;
}

.writing
{
	width:466px;
	float:left; 
	display: inline;
	padding-left:20px;
}

.readmore a
{
	text-decoration: none;
	color:  #FFA500;
}

.readmore a:hover
{

	color:#0000FF;
}

.sidebar_links
{
	width:90%;
	margin:auto;
}

.sidebar_links h1
{
	padding:5px;
	border-bottom: 1px solid #666666;
}

.sidebar_links a
{
	text-decoration: none;
	color: #FFA500;

}

.sidebar_links a:hover
{
	color: #000000;

}
.sidebar_links ul
{
	padding:0px 0px 10px 20px;
	list-style: none;
}
.sidebar_links li
{
	padding: 5px;
}

.other_widgets
{
	width:90%;
	margin:auto;
}

.other_widgets h1
{
	padding:5px;
	border-bottom: 1px solid #666666;


}


.footer
{
	padding:10px;
	text-align: center;
	color: #FFFFFF;
	background-color: #333333;
}

.footer a
{
	text-decoration: none;
	color:  #FFA500;

}

.footer a:hover
{
	color:#0000FF;
}



/*.sidebar_links li
{

border-right: 1px solid #333333;
padding:15px;
display: inline-block;

}*/


























