*
{
font-family: arial;
font-size: 14px;
padding: 0px;
margin: 0px;

}



.header
{


/*height:50px;*/
width:100%;
background-color:#333333;
}
.header .contents
{
height:100%;
width:60%;
margin: auto;
}
/*.header ul
{


}
*/
.header ul
{

float: right;
list-style: none;
}
.header li
{
float: left;
/*height:50px;*/
/*border-right: 1px solid #333333;*/
/*align-content: center;*/
display: inline-block;
width:80px;
}
.header ul a
{
padding:16.5px 0px;
/*margin:15px;*/
display: block;
text-decoration: none;
color: #FFFFFF;
text-align: center;
/*width:100%;
height:100%;*/
}

.header ul a:hover
{
background-color: #FFA500; 
border-bottom: 4px solid #FFFFFF; 
}

/* Clear floats after the columns */
.header:after {
    content: "";
    display: table;
    clear: both;
}



.first
{
padding:20px 0px;
width:100%;
background-color:#f1f1f1;



}

.first .contents
{
width:60%;
margin: auto;
overflow: hidden;
    position: relative;
}
/*.picture
{
width:60%;
height:100%;
float: left;
display:inline;
}*/
#learnmore
{

text-decoration: none;
text-align: center;
padding:10px;
width:200px;
height:100px;
background-color: #FFA500;
color:#FFFFFF;
border-radius: 5px;

}
.picture 
{
float:right;

}

.writing
{

position: absolute;
/*height:100%;*/
float:left;
width:33%;
}

.second
{
width:100%;
background-color: #FFFFFF;
}



.second .contents
{
width:60%;
margin: auto;
padding: 20px 0px;
position: relative;
overflow:hidden;

}

.second .information
{
float: left;
margin-right: 5%;
width:30%;


}

.second img
{
width:100%;
height:194px;
}

.information:nth-of-type(3n+0) 
{
    margin-right: 0px;
}


.footer
{
background-color: #333333;
width: 100%;
color:#FFFFFF;
}

.footer .contents
{

width:60%;
margin: auto;
padding:30px 0px;
display: table;
}

.heading
{
font-size: 20px;
}

.footer a
{
text-decoration: none;
color: #FFFFFF;

}

.footer a:hover
{
color:#0000FF;
}


.latest_posts/*.about/*//**,.stay_connected*/
{
float:left;
width:32%;
margin-right: 3%;

}
.about
{
float: left;
width: 40%;
margin-right: 6%;
}

.stay_connected
{
float: right;
margin-right: 0px;
}

