*
{
padding:0px;
margin:0px;
}

body
{
background-color: #000000;

}


h1
{
color:#ffffff;
text-align: center;
margin-bottom: 10px;
}
#article
{
width:60%;
margin:auto;
}

ul {
  list-style-type: none;
}
li
{
background-color: #ffffff;
color:#000000;
margin-bottom: 10px;
}
li p
{
padding-bottom: 10px
}

#writer
{

color:	#FFA500;
}