*
{
padding: 0px;
margin: 0px;
}

section
{
width:460px;
height:460px;
background-color: #dddddd;
margin:100px auto;
}

button
{
margin:10px 0px 0px 10px;
width:80px;
height:80px;
float:left;
}

button:hover
{
background-color: 	#FFA500;
}

#display
{
height:90px;
width:450px;
margin: auto;
}