{% load static%}
<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />

</head>
<body>
<div id="wrapper">
<h1>hi {{user.username}}</h1>
<a href="{% url 'accounts:profile' %}">Home</a>
<a href="{% url 'accounts:logout' %}">Logout</a>
<a href="{% url 'posts:posts' %}">View Posts</a>

{%block contents%}


{%endblock%}
</div>


</body>
</html>

