<h1>Login</h1>

<form method="post" action="{% url 'accounts:login' %}">
	{% csrf_token %}
	<table>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>
		</tr>
	</table>
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{% url 'accounts:profile'%}" />
</form>