{% extends "accounts/base.html" %}

{%block contents%}
<br>
<br>
<h1>Profile Details</h1>
<h4>Email: {{user.email}}</h4>
<h4>Firstname: {{user.first_name}}</h4>
<h4>LastName: {{user.last_name}}</h4>

<!--{# <a href="{% url 'accounts:logout' %}">Logout</a> #}-->
<a href="{% url 'accounts:profile_update' %}">Update Profile</a>
{%endblock%}